<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">Python 기초</p>

# 개요

본 강의 자료는 [Python 공식 Tutorial](https://docs.python.org/3/tutorial/index.html)에 근거하여 만들어졌습니다.

또한, 파이썬에서 제공하는 스타일 가이드인 [`PEP-8`](https://www.python.org/dev/peps/pep-0008/) 내용을 반영하였습니다. 

파이썬을 활용하는 다양한 IT기업들은 대내외적으로 본인들의 스타일 가이드를 제공하고 있습니다. 

* [구글 스타일 가이드](https://github.com/google/styleguide/blob/gh-pages/pyguide.md)
* [Tensorflow 스타일 가이드](https://www.tensorflow.org/community/style_guide)

# 기초 문법(Syntax)
## 주석(Comment)

* 한 줄 주석은 `#`으로 표현합니다. 

* 여러 줄의 주석은 
    1. 한 줄 씩 `#`을 사용해서 표현하거나,
    2. `"""` 또는 `'''`(여러줄 문자열, multiline string)으로 표현할 수 있습니다.
    (multiline은 주로 함수/클래스를 설명(docstring)하기 위해 활용됩니다.)

In [ ]:
# 주석을 연습해봅시다.

In [1]:
# 이것은 주석입니다. 실행되지 않습니다. 
# Style Guide / 국룰 => # 뒤에는 한칸 띄고 주석 작성한다.

In [2]:
# 여러줄 주석을 multiline string을 활용하여 연습해봅시다.

In [ ]:
"""
ctrl + Enter : 셀 실행
m : 셀 마크다운 모드
y : 셀 파이썬 모드
a : 위(Above)에 셀 추가
b : 아래(Below)에 셀 추가
dd : 셀 삭제
00 : 커널 재시작 => 에러, 멈춤 상황에서 껐다 키기
"""

## 코드 라인
* 파이썬 코드는 '1줄에 1문장(statment)'이 원칙입니다.

* 문장(statement)은 파이썬이 실행 가능(executable)한 최소한의 코드 단위입니다. 

* 기본적으로 파이썬에서는 `;`을 작성하지 않습니다.

* 한 줄로 표기할때는 `;`을 작성하여 표기할 수 있습니다.

In [ ]:
# print문을 두번 써봅시다.

In [3]:
print('hello')
print('world')

hello
world

In [ ]:
# print문 2개를 한 줄로 이어서 작성하면 어떻게 될까요?
# 아래 코드를 실행시켜 결과를 확인해봅시다.

In [5]:
print('hello')print('world')

SyntaxError: invalid syntax (3663863333.py, line 1)

In [ ]:
# ;을 통해 코드를 구분시켜서 오류를 해결해봅시다.

In [6]:
print('hello');print('world')

hello
world

In [ ]:
# 하지만 위와 같이 한줄에 두 개 이상의 코드를 작성하는 작성법은 잘 쓰지는 않습니다.

* 줄을 여러줄 작성할 때는 역슬래시`\`를 사용하여 아래와 같이 할 수 있다.

In [ ]:
# print문을 통해 하나의 문자열을 두 줄로 작성하여 실행해봅시다. 
# 아래의 코드를 실행시켜 오류 메시지를 확인해봅시다.

In [7]:
print('hello 
      world')

SyntaxError: unterminated string literal (detected at line 1) (2683863534.py, line 1)

In [ ]:
# print문을 통해 실행되는 코드 예시 작성해봅시다.
# hello 뒤에 \를 붙이고 다시 코드를 실행해봅시다.

In [8]:
print('hello\
      world')

hello      world

In [ ]:
## PEP-8 가이드에 따르면 여러줄 문자열은 아래와 같이 쓰는 게 관례(convention)입니다.

In [9]:
print("""hello
world
python""")

hello
world
python

* `[]` `{}` `()`는 `\` 없이도 가능합니다.

In [ ]:
# 점심메뉴 lunch 에 대괄호를 사용한 list를 만들어봅시다.
# list 대괄호 안에는 
# '짜장면', '짬뽕', '탕수육','군만두', '물만두', '왕만두'를
# 두 줄로 채워넣어 봅시다.

In [ ]:
# 닫히는 대괄호의 위치 
# (1). 첫번째 요소(짜장면)의 시작 위치
lunch = [
    '짜장면', '짬뽕', '탕수육',
    '군만두', '물만두', '왕만두'
    ]

In [ ]:
# (2) 생성자(lunch2)가 시작되는 위치
lunch = [
    '짜장면', '짬뽕', '탕수육',
    '군만두', '물만두', '왕만두'
]

In [ ]:
## PEP-8 가이드에 따르면 
## list 가 여러 줄로 작성될 때 
## 닫히는 대괄호의 위치는
## (1) 첫번째 문자(요소) 위치에 오거나 
## (2) 마지막 줄에서 생성자가 시작되는 첫번째 열에 위치합니다.

## 다른 (소, 중)괄호도 동일한 컨벤션을 따릅니다.

# 변수(Variable)

## 변수 

<center><img src="https://user-images.githubusercontent.com/18046097/61179855-0c8d0200-a646-11e9-9e9e-2c6df0504296.png", alt="variable"/></center>


<center><img src="https://user-images.githubusercontent.com/18046097/61179857-13b41000-a646-11e9-9a88-8487df4eaf52.png", alt="box"/></center>

### 할당 연산자(Assignment Operator): `=`

* 변수는 `=`을 통해 할당(assignment) 됩니다. 

* 해당 데이터 타입을 확인하기 위해서는 `type()`을 활용합니다.

* 해당 값의 메모리 주소를 확인하기 위해서는 `id()`를 활용합니다.

In [ ]:
# 변수(variable) x에 임의의 문자열을 할당해봅시다.

In [28]:
x = '유태영'
print(x)

x = 100
print(x)

유태영
100

In [17]:
# type()을 사용해 결과를 확인해봅시다.

In [18]:
type(x)

str

In [ ]:
# id()를 사용해 결과를 확인해봅시다.

In [14]:
id(x)

2386221534256

* 같은 값을 동시에 할당할 수 있습니다.

In [ ]:
# 같은 값을 x와 y에 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [19]:
x = y = 10
print(x, y)

10 10

* 다른 값을 동시에 할당 가능합니다.

In [ ]:
# 두 개의 변수 x, y 에 1, 2 값을 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [22]:
x, y = 1, 2
print(x, y)

1 2

In [ ]:
# 두 개의 변수 x, y에 값 1을 할당해봅시다.
# 두 개의 변수에 하나의 값을 넣었을때의 오류를 확인해봅시다.

In [23]:
x, y = 1

TypeError: cannot unpack non-iterable int object

In [ ]:
# 두 개의 변수 x, y에 값 1, 2, 3 을 동시에 할당해 봅시다.
# 두 개의 변수에 세 개의 값을 넣었을때의 오류를 확인해 봅시다.

In [24]:
x, y = 1, 2, 3

ValueError: too many values to unpack (expected 2)

* 이를 활용하면 서로 값을 바꾸고 싶은 경우 아래와 같이 활용 가능합니다.

In [ ]:
# 변수 x와 y의 값을 바꿔봅시다.
# 그리고 결과를 print를 이용해 확인해봅시다.

In [25]:
x = 10
y = 20
print(x, y)

x, y = y, x
print(x, y)

10 20
20 10

In [33]:
x = 10
y = 20
print(x, y)

# code here
tmp = x
x = y
y = tmp

print(x, y)  # 20 10

10 20
20 10

In [36]:
x, y = 10, 20
x = x + y  # 30
y = x - y  # 30 - 20 == 10
x = x - y  # 30 - 10 == 20
print(x, y)

20 10

### 식별자(Identifiers)

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름(name)입니다. 

* 식별자의 이름은 영문알파벳(대문자와 소문자), 언더스코어(_), 숫자로 구성됩니다.
* 첫 글자에 숫자가 올 수 없습니다.
* 길이에 제한이 없습니다.
* 대소문자(case)를 구별합니다.
* 아래의 키워드는 사용할 수 없습니다. [파이썬 문서](https://docs.python.org/ko/3/reference/lexical_analysis.html#keywords)

```
False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [ ]:
# 키워드들을 직접 확인해봅시다.

In [37]:
# import 구문은 모듈파트에서 다시 알아봅시다.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

*  내장함수나 모듈 등의 이름으로도 만들면 안됩니다.

In [41]:
not = 10

SyntaxError: invalid syntax (3601276001.py, line 1)

In [ ]:
# 내장함수의 이름을 사용하면 어떤일이 일어나는지 확인해봅시다.

In [1]:
# print는 값을 출력해주는 내장함수(Built-in function)입니다.
print('HELLO')

HELLO

In [3]:
# 예시로 변수명을 print라하고 문자열 'hi'를 할당해봅시다. 
# 그리고 print() 를 사용하고 오류를 확인해봅시다.
# print은 이제 'hi'라는 값으로 할당되었기 때문에 이전의 화면 출력 기능을 수행하지 못합니다.
print = 'hi'
print('오잉?')

TypeError: 'str' object is not callable

In [4]:
# 뒤에서 진행될 코드에 영향이 갈 수 있기 때문에 방금 생성한 print 변수를 삭제합니다.
# 이렇게 하면 변수 print 는 삭제되고 화면출력의 print는 사용가능 합니다.
# 자세한 내용은 namespace 파트에서 확인해봅시다.
del print

In [6]:
print('오 된다')
print("오늘은 쌍따옴표다")

오 된다
오늘은 쌍따옴표다

# 데이터 타입(Data Type)
## Value Type(값 그 자체)

- **숫자**(Number) 타입
- **문자열**(String) 타입
- **참/거짓**(Boolean) 타입

## 숫자(Number) 타입
[파이썬 문서](https://docs.python.org/ko/3/library/stdtypes.html#numeric-types-int-float-complex)

###  (1) `int` (정수, ingteger)

모든 정수는 `int`로 표현됩니다.

Python3에서는 `long` 타입은 없고 모두 `int` 타입으로 표기 됩니다.

* 보통 프로그래밍 언어 및 Python2에서의 long은 OS 기준 32/64비트입니다.
* Python3에서는 모두 int로 통합되었습니다.

8진수 : `0o` / 2진수 : `0b` / 16진수: `0x` 로도 표현 가능합니다.

In [ ]:
# 변수 a에 정수 3을 넣고 해당 변수의 type을 알아봅시다.

In [10]:
a = 3
type(a)

int

In [ ]:
# 변수 a에 2의 64제곱을 할당해줍니다.
# print와 type을 이용하여 a의 값과 타입을 확인해봅시다.

In [16]:
a = 2 ** 64
type(a)

int

**파이썬에서 표현할 수 있는 가장 큰 수**
* 파이썬에서 가장 큰 숫자를 활용하기 위해 sys 모듈을 불러옵니다.
* 파이썬은 기존 C 계열 프로그래밍 언어와 다르게 정수 자료형(integer)에서 오버플로우가 없습니다.
* 임의 정밀도 산술(arbitrary-precision arithmetic)을 사용하기 때문입니다. 

> **오버플로우(overflow)**
- 데이터 타입 별로 사용할 수 있는 메모리의 크기가 제한되어 있습니다.
- 표현할 수 있는 수의 범위를 넘어가는 연산을 하게 되면, 기대했던 값이 출력되지 않는 현상, 즉 메모리를 넘어선 상황을 의미합니다.

> **임의 정밀도 산술(arbitrary-precision arithmetic)**
- 사용할 수 있는 메모리양이 정해져 있는 기존의 방식과 달리, 현재 남아있는 만큼의 가용 메모리를 모두 수 표현에 끌어다 쓸 수 있는 형태를 의미합니다.
- 특정 값을 나타내는데 4바이트가 부족하다면 5바이트, 더 부족하면 6바이트까지 사용할 수 있게 유동적으로 운용합니다.

In [ ]:
# 파이썬이 얼만큼 큰 숫자까지 저장할 수 있는지 확인해봅시다.

In [17]:
import sys
max_int = sys.maxsize
# sys.maxsize 의 값은 2**63 - 1 => 64비트에서 부호비트를 뺀 63개의 최대치
print(max_int)
super_max = sys.maxsize * sys.maxsize
print(super_max)

9223372036854775807
85070591730234615847396907784232501249

In [ ]:
# n진수를 만들어봅시다.
# 2진수는 binary_number에 0b10을 할당합니다.
# 8진수는 octal_number에 0o10을 할당합니다.
# 10진수는 decimal_number에 10을 할당합니다.
# 16진수는 hexadecimal_number에 0x10을 할당합니다.
# 그리고 결과를 print를 이용해서 여러줄로 출력해봅시다.

In [29]:
print(0b11)
print(0o11)
print(11)
print(0x11)

type(0x11)

3
9
11
17

int

### (2) `float` (부동소수점, 실수, floating point number)

실수는 `float`로 표현됩니다. 

다만, 실수를 컴퓨터가 표현하는 과정에서 부동소수점을 사용하며, 항상 같은 값으로 일치되지 않습니다. (floating point rounding error)

이는 컴퓨터가 2진수(비트)를 통해 숫자를 표현하는 과정에서 생기는 오류이며, 대부분의 경우는 중요하지 않으나 값을 같은지 비교하는 과정에서 문제가 발생할 수 있습니다.

In [ ]:
# 변수 a에 실수 3.5를 넣고 해당 변수의 type을 알아봅시다.

In [30]:
a = 3.5
type(a)

float

#### 컴퓨터식 지수 표현 방식
* e를 사용할 수도 있습니다. (e와 E 모두 사용 가능)

In [ ]:
# 컴퓨터식 지수 표현 방식을 사용해봅시다.
# 변수 b에 지수 314e-2를 넣고 해당 변수의 type을 알아봅시다.
# print를 이용해 변수 b의 값도 알아봅시다.

In [37]:
a = 10e8
b = 314e-2

print(a, b)  # 둘다 float 자료형

1000000000.0 3.14

#### 실수의 연산
* 실수의 경우 실제로 값을 처리하기 위해서는 조심할 필요가 있습니다.

In [ ]:
# 실수의 덧셈을 해봅시다.
# 실수 아무 값이나 두 개를 더해봅시다. (3.5 + 3.2)

In [39]:
3.5 + 3.2

6.7

In [ ]:
# 실수의 뺄셈을 해봅시다. (3.5 - 3.12)

In [41]:
3.5 - 3.12

0.3799999999999999

In [ ]:
# 우리가 원하는대로 반올림을 해봅시다.
# round() 는 0~4는 내림, 5는 동일하게 작동하지 않고 반올림 방식에 따라 다릅니다.
# 짝수에서 5는 내림 / 홀수에서 5는 올림
# round(값, 소수점자릿수)
# 3.5 - 3.12 의 값을 반올림하는데 소수점 2자리까지 나타나게 해봅시다.

In [47]:
x = 3.5 - 3.12
round(x, 2)

0.38

In [48]:
# 3.5 - 3.12의 결과와 0.38의 값이 같은지 == 을 사용해서 확인해봅시다.

In [49]:
3.5 - 3.12 == 0.38

False

In [ ]:
# print를 이용해서 3.5 - 3.12의 값을 확인해 봅시다.

In [50]:
print(x)

0.3799999999999999

* 따라서 다음과 같은 방법으로 처리 할 수 있습니다. (이외에 다양한 방법이 있음)

In [ ]:
# 1. 기본적인 처리방법을 알아봅시다.
# 변수 a, b에 각각의 실수 값을 저장합니다.
# 그리고 abs()를 이용하여 a와 b의 차이를 구합니다.
# a와 b의 차이가 1e-10 값 이하이면 a 와 b 는 같다고 볼 수 있습니다.

In [56]:
a = 0.38
b = 3.5 - 3.12
print(a == b)
abs(a - b) < 1e-10

False

True

In [ ]:
# 2. sys 모듈을 통해 처리하는 방법을 알아봅시다.
# `epsilon` 은 부동소수점 연산에서 반올림을 함으로써 발생하는 오차 상환
# abs() 를 이용하여 a, b의 차이를 구합니다.
# a와 b의 차이가 sys.float_info.epsilon의 값 이하이면 a, b 는 같다고 볼 수 있습니다.

In [59]:
import sys

abs(a - b) < sys.float_info.epsilon

True

In [ ]:
# 3. python 3.5부터 활용 가능한 math 모듈을 통해 처리하는 법을 알아봅시다.

In [61]:
# math.isclose() 를 이용해서 a와 b의 값이 같은지 확인할수 있습니다.
import math

math.isclose(a, b)

True

### (3) `complex` (복소수, complex number)

각각 실수로 표현되는 실수부와 허수부를 가집니다.

복소수는 허수부를 `j`로 표현합니다.

In [ ]:
# 변수 a에 복소수 3-4j를 넣고 해당 변수의 type을 알아봅시다.

In [74]:
a = 3 - 4j
type(a)

complex

In [75]:
# 문자열'1+2j' 을 복소수로 변환해봅시다.

In [76]:
a = '1+2j'
complex(a)

(1+2j)

In [77]:
# 문자열을 변환할 때, 문자열은 중앙의 + 또는 - 연산자 주위에 공백을 포함해서는 안 됩니다.
# '1 + 2j'를 복소수로 변환해보고 오류를 확인해봅시다.

In [79]:
a = '1 + 2j'
complex(a)

ValueError: complex() arg is a malformed string

## 문자열(String) 타입

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능합니다.

    - 작은따옴표: `'"큰" 따옴표를 담을 수 있습니다'`

    - 큰따옴표: `"'작은' 따옴표를 담을 수 있습니다"`

    - 삼중 따옴표: `'''세 개의 작은따옴표'''`, `"""세 개의 큰따옴표"""`


* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [ ]:
# 변수에 문자열을 넣고 출력해봅시다.
# 변수 greeting 에 hi를 name 에 여러분의 이름을 할당합시다. 
# 그리고 각각의 변수를 print로 찍어보고 type도 확인해봅시다.

In [ ]:
greeting = 'hi'
name = '유태영'

print(greeting)
print(name)

In [ ]:
# 변수 age 에 사용자로 부터 입력을 받을 수 있는 input()의 결과를 저장합시다.
# age 에 입력받은 값이 저장되었는지 그리고 그 type이 무엇인지 확인해봅시다.
# 숫자를 넣었을때와 문자를 넣었을때의 type이 같은지 다른지도 확인해봅시다.

In [4]:
# 모든 프로그래밍 영역에서, 사용자가 넘기는 데이터는 무조건 str 이다!
age = input()
print(age)
type(age)

스무살
스무살

str

#### 따옴표 사용

문자열 안에 문장부호(`'`, `"`)가 사용될 경우 이스케이프 문자(`\`)를 활용 가능 합니다.

In [ ]:
# 문자열 안에 문장부호가 들어간 '철수가 말했다. '안녕?'' 을 활용해서 오류를 확인해봅시다.

In [5]:
# ' 철수 왈. '안녕?' '

'철수 왈. '안녕?''

SyntaxError: invalid syntax (3902714996.py, line 1)

In [ ]:
# 해당 오류를 1) 이스케이프 문자와 2) 서로 다른 문장부호 구성을 통해 해결해봅시다.

In [7]:
# 쌍 따옴표로 해결
print("철수 왈, '안녕?'")
print('철수 왈 \'안녕?\' ')

철수 왈, '안녕?'

여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

* `PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있다.

In [ ]:
# 여러줄을 출력해봅시다.

In [9]:
print("""안녕하세요
반갑습니다
오늘은 날씨가 좋아요
하하하하하""")

안녕하세요
반갑습니다
오늘은 날씨가 좋아요
하하하하하

In [ ]:
# 문자열은 + 연산자로 이어붙이고, * 연산자로 반복시킬 수 있습니다.
# 'heyheyhey yo!' 를 출력하도록 코드를 작성해봅시다.

In [12]:
'hey' * 3 + ' yo!'

'heyheyhey yo!'

In [ ]:
# 당연히 변수화해서도 사용가능합니다.
# 변수 prefix에 'Py'를 할당합니다.
# 그리고 prefix에 'thon'을 붙여봅시다.

In [13]:
prefix = 'Py'
prefix + 'thon'

'Python'

### 이스케이프 시퀀스

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분합니다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄 바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|\\\\ |`\`|
|\\'|단일인용부호(`'`)|
|\\"|이중인용부호(`"`)|

In [ ]:
# print를 한 번만 사용하고 이스케이프 문자열을 조합하여 다음 결과가 나올 수 있게 해봅시다.
# '엔터
# 탭    탭'

In [14]:
print('엔터\n탭\t탭')

엔터
탭	탭

In [ ]:
# print 함수의 end 옵션에도 이스케이프 문자를 사용할 수 있습니다.
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '내용을 띄워서 출력하고 싶으면?    옆으로 띄워짐'

In [17]:
print('내용을 띄어서 출력하고 싶으면?', end='\t')
print('옆으로 띄어짐')

내용을 띄어서 출력하고 싶으면?	옆으로 띄어짐

In [ ]:
# print 함수의 end 옵션의 기본은 \n입니다.
# 물론, end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.
# end에 다른 문자열도 넣을 수 있습니다. 
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '개행 문자 말고도 가능합니다!진짜로!알고보면 print는 기본이\n!'

In [24]:
print('hi', end='!')
print('기본이 \\n')

hi!기본이 \n

### String interpolation 

* `%-formatting` 

    * `%d` : 정수
    
    * `%f` : 실수
    
    * `%s` : 문자열

* [`str.format()` ](https://pyformat.info/)

* [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 이후 버전에서 지원

In [ ]:
# name 변수에 이름, score 변수에 학점을 넣어봅시다.

In [25]:
name = '유태영'
score = 3.7

In [26]:
# %-formatting을 활용해봅시다.
# print를 이용하여 name 을 출력해봅시다..
# print를 이용하여 score를 정수 형태로 출력해봅시다.
# print를 이용하여 score를 실수 형태로 출력해봅시다.

In [37]:
print('내 이름은 %s, 학점은 %f' %(name, score))

내 이름은 유태영, 학점은 3.700000

In [ ]:
# str.format()을 활용해봅시다.
# name 을 출력해봅시다.

In [38]:
print('내 이름은 {}, 학점은 {}'.format(name, score))

내 이름은 유태영, 학점은 3.7

In [ ]:
# f-string을 활용해봅시다.
# name 을 출력해봅시다.

In [39]:
print(f'내 이름은 {name}, 학점은 {score}')

내 이름은 유태영, 학점은 3.7

In [ ]:
# 여러줄 문자열에서도 사용 가능합니다.
# f-string을 이용하여 name을 여러줄 문자열로 출력해봅시다.

In [40]:
print(f"""내 이름은 {name}
학점은 {score}""")

내 이름은 유태영
학점은 3.7

* f-strings에서는 형식을 지정할 수 있습니다.

In [ ]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.
# today 에 현재 시간 날짜를 할당해봅시다.
# print를 이용하여 today를 출력해봅시다.

In [41]:
import datetime
today = datetime.datetime.now()
print(today)

2023-05-08 14:09:18.253006

In [ ]:
# interpolation에서 출력형식을 지정할 수 있습니다.
# today에 저장된 시간을 YYYY년, mm월, dd일, a요일 로 구분해서 출력해봅시다.

In [49]:
print(f'오늘은 {today:%Y}년 {today:%m}월 {today:%d}일 {today:%A}요일')

오늘은 2023년 05월 08일 Monday요일

* f-strings에서는 연산과 출력형식 지정도 가능합니다.

In [ ]:
# string interpolation을 통해 출력형식 지정 뿐만 아니라, 연산도 가능합니다.
# pi = 3.141592 를 할당하고 
# 원주율은 3.14. 반지를이 2일 때 원의 넓이는 12.566368 이라고 출력해봅시다.

In [52]:
pi = 3.141592
print(f'원주율은 {pi:.3}. r=2 일때, 넓이는 {pi * 2 * 2}')

원주율은 3.14. r=2 일때, 넓이는 12.566368

## 참/거짓(Boolean) 타입

파이썬에는 `True`와 `False`로 이뤄진 `bool` 타입이 있습니다.

비교/논리 연산을 수행 등에서 활용됩니다.

다음은 `False`로 변환됩니다.
```
0, 0.0, (), [], {}, '', None
```

In [ ]:
# True와 False의 type을 알아봅시다.

In [58]:
type(True)

bool

In [ ]:
# 다양한 True, False 상황들을 확인해봅시다.
# 형변환(Type Conversion)에서 추가적으로 다루는 내용입니다.

In [61]:
bool(3.14)

True

In [ ]:
# 0 을 bool 타입으로 형변환해봅시다.

In [63]:
bool(0)

False

In [64]:
# 1 을 bool 타입으로 형변환해봅시다.

In [65]:
bool(1)

True

In [ ]:
# None 을 bool 타입으로 형변환해봅시다.

In [66]:
bool(None)

False

In [ ]:
# 빈 리스트를 bool 타입으로 형변환해봅시다.

In [71]:
bool([])

False

In [72]:
# 빈 문자열을 bool 타입으로 형변환해봅시다.

In [75]:
bool('')

False

In [ ]:
# ['hi']를 bool 타입으로 형변환해봅시다.

In [82]:
bool(['hi'])
bool([0])

True

In [81]:
# 'hi'를 bool 타입으로 형변환해봅시다.

In [78]:
bool('hi')

True

### `None` 타입

파이썬에서는 값이 없음을 표현하기 위해 `None` 타입이 존재합니다.

In [ ]:
# None의 타입을 알아봅시다.

In [88]:
type(None)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [84]:
# 변수에 저장해서 확인해봅시다.
# 변수 a에 None을 할당하고 출력해봅시다.

In [87]:
a = None
print(a)

None

## 형변환(Type conversion, Typecasting)

파이썬에서 데이터타입은 서로 변환할 수 있습니다.

- 암시적 형변환
- 명시적 형변환

### 암시적 형변환(Implicit Type Conversion)

사용자가 의도하지 않았지만, 파이썬 내부적으로 자동으로 형변환 하는 경우입니다.
아래의 상황에서만 가능합니다.
* bool
* Numbers (int, float, complex)

In [ ]:
# boolean과 integer는 더할 수 있을까요?
# True와 임의의 정수를 더해봅시다.

In [89]:
True + 9

10

In [ ]:
# int, float, complex를 각각 변수에 대입해봅시다.
# 변수 int_number 에 정수를 할당해봅시다.
# 변수 float_numbe 에 실수를 할당해봅시다.
# 변수 complex_number 에 복소수를 할당해봅시다.

In [92]:
i = 1
f = 2.3
c = 3+2j

In [93]:
# int와 float를 더해봅시다. 그리고 값을 출력해봅시다.
# 그 결과의 type은 무엇일까요?

In [96]:
print(i + f, type(i + f))

3.3 <class 'float'>

In [ ]:
# int와 complex를 더해봅시다. 그리고 값을 출력해봅시다.
# 그 결과의 type은 무엇일까요?

In [98]:
print(i + c, type(i + c))

(4+2j) <class 'complex'>

### 명시적 형변환(Explicit Type Conversion)
위의 상황을 제외하고는 모두 명시적으로 형변환을 해주어야합니다.

* string -> intger  : 형식에 맞는 숫자만 가능
* integer -> string : 모두 가능

암시적 형변환이 되는 모든 경우도 명시적으로 형변환이 가능합니다.

* `int()` : string, float를 int로 변환
* `float()` : string, int를 float로 변환
* `str()` : int, float, list, tuple, dictionary를 문자열로 변환

`list()`, `tuple()` 등은 다음 챕터에서 배울 예정입니다.

In [ ]:
# integer와 string 사이의 관계는 명시적으로 형변환을 해줘야만 합니다.

In [ ]:
# 정수와 문자열을 그냥 더해보고 오류를 확인해봅시다.

In [99]:
1 + '등'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 정수를 문자열로 형변환하고 문자열과 더해봅시다.

In [101]:
str(1) + '등'

'1등'

In [102]:
# 변수 a에 string 3을 할당하고 integer로 변환해봅시다.

In [104]:
a = '3'

a, int(a)

('3', 3)

In [ ]:
# 변수 a에 string 3.5를 할당하고 float로 변환해봅시다.

In [105]:
a = '3.5'
float(a)

3.5

In [ ]:
# string은 글자가 숫자일때만 형변환이 가능합니다.
# 변수 a에 문자열 'hi'를 할당하고 integer로 변환해봅시다.

In [106]:
a = 'hi'
int(a)

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
# string 3.5를 int로 변환할 수는 없습니다.
# 변수 a에 string 3.5를 저장하고 integer로 변환하고 오류를 확인해봅시다.

In [108]:
a = '3.5'
int(a)

ValueError: invalid literal for int() with base 10: '3.5'

In [ ]:
# float 3.5는 int로 변환이 가능합니다.
# 변수 a에 실수 3.5를 저장하고 integer로 변환해봅시다.

In [116]:
a, b = 3.5, -2.4
int(a), int(b)  # 단순 소숫점 버림

(3, -2)

# 연산자(Operator)

- 산술 연산자
- 비교 연산자
- 논리 연산자
- 복합 연산자
- 기타 연산자

## 산술 연산자
Python에서는 기본적인 사칙연산이 가능합니다. 

|연산자|내용|
|----|---|
|+|덧셈|
|-|뺄셈|
|\*|곱셈|
|/|나눗셈|
|//|몫|
|%|나머지(modulo)|
|\*\*|거듭제곱|

- 나눗셈 (`/`) 은 항상 float를 돌려줍니다.
- 정수 나눗셈 으로 (소수부 없이) 정수 결과를 얻으려면 `//` 연산자를 사용합니다.

In [ ]:
# 2의 1000거듭제곱을 확인해봅시다.

In [117]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [ ]:
# 나눗셈과 관련된 산술연산자를 활용해봅시다.
# 5와 2를 나눈 값을 출력해봅시다.
# 5와 2를 나눈 값의 몫을 출력해봅시다.
# 5와 2를 나눈 값의 나머지를 출력해봅시다.

In [126]:
print(5 / 2)
print(4 / 2)

print(5 // 2)
print(5 % 2)

2.5
2.0
2
1

In [128]:
# divmod는 나눗셈과 관련된 함수입니다.
# divmod() 에 5와 2를 넣고 결과를 print로 확인해봅시다.
# 변수 quotient, remainder 에 divmod(5, 2)의 값을 할당해봅시다.
# f-string을 활용하여 quorient와 remainder의 값을 출력해봅시다.

In [129]:
divmod(5, 2)

(2, 1)

In [ ]:
# 음수 양수 표현도 해봅시다.
# 변수 positive_num 에 4를 할당하고 print할 때 -를 붙여서 print로 출력해봅시다.
# 변수 negative_num 에 -4를 할당하고 print할 때 + 와 - 를 붙여서 각각을 print로 출력해봅시다.

In [132]:
pn = 4
nn = -4

print(+pn, -pn)
print(+nn, -nn)

4 -4
-4 4

## 비교 연산자

우리가 수학에서 배운 연산자와 동일하게 값을 비교할 수 있습니다.

|연산자|내용|
|----|---|
|`<`|미만|
|`<=`|이하|
|`>`|초과|
|`>=`|이상|
|`==`|같음|
|`!=`|같지않음|
|`is`|객체 아이덴티티|
|`is not`|부정된 객체 아이덴티티|

In [ ]:
# 숫자의 대소관계를 비교해봅시다.
# 아무 정수 2개를 비교해봅시다.

In [145]:
(3 >= 2) + 1  # True + 1

2

In [ ]:
# 다른 숫자인지 확인해봅시다.
# 3의 정수형과 실수형이 같은지 비교해봅시다.

In [135]:
3 == 3.0

True

In [ ]:
# 같은 숫자인지 확인해봅시다.
# 같은 숫자를 != 를 확인하여 비교해봅시다.

In [136]:
2 != 2

False

In [ ]:
# 문자열도 같은지 확인해봅시다.
# 대문자 HI와 소문자 hi가 같은지 확인해 봅시다.

In [137]:
'HI' == 'hi'

False

## 논리 연산자

|연산자|내용|
|---|---|
|a and b|a와 b 모두 True시만 True|
|a or b|a 와 b 모두 False시만 False|
|not a|True -> False, False -> True|

우리가 보통 알고 있는 `&` `|`은 파이썬에서 비트 연산자입니다.

In [ ]:
# and과 관련해서 모든 case를 출력해봅시다.
# True와 False를 이용하여 and 의 모든 경우의 수(4개)를 출력해봅시다. 
# (True and True), (True and False), ...

In [152]:
True and True  # T
True and False  # F
False and True  # F
False and False  # F

False

In [153]:
# or과 관련해서 모든 case를 출력해봅시다.
# True와 False를 이용하여 or 의 모든 경우의 수(4개)를 출력해봅시다.
# (True or True), (True or False), ...

In [158]:
True or True  # T
True or False  # T
False or True  # T
False or False  # F

False

In [ ]:
# not을 활용해봅시다.
# print를 이용하여 True 와 0의 not 값을 각각 확인해봅시다.

In [162]:
not True  # F
 
not 0  # T

not ''  # T

True

* 파이썬에서 and는 a가 거짓이면 a를 리턴하고, 참이면 b를 리턴합니다.
* 파이썬에서 or은 a가 참이면 a를 리턴하고, 거짓이면 b를 리턴합니다.

### 단축평가 (Short Circuit Evaluation)
* 첫 번째 값이 확실할 때, 두 번째 값은 확인 하지 않습니다.
* 조건문에서 뒷 부분을 판단하지 않아도 되기 때문에 속도가 향상됩니다.

In [164]:
True and True and False and True and True and False  # 첫 False(3번째)에서 연산 종료

False

In [ ]:
# 문자열 'a'와 'b'의 and 값이 무엇인지 확인해봅시다.

In [166]:
1 and 2 and 0 and 3 and 4  # 0
True and '' and 3 and () and 'asdf'  # ''

''

In [ ]:
# 문자열 'a'와 'b'의 or 값이 무엇인지 확인해봅시다.

In [167]:
'a' or 'b'

'a'

In [168]:
0 or '' or None or 0.0 or [] or 100 or True or 1 or 'asdf'

100

- `and` 는 둘 다 True일 경우만 True이기 때문에 첫번째 값이 True라도 두번째 값을 확인해야 하기 때문에 'b'가 반환됩니다.
- `or` 는 하나만 True라도 True이기 때문에 True를 만나면 해당 값을 바로 반환합니다.

In [ ]:
# and의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
# (3 and 5) , (3 and 0), (0 and 3), (0 and 0) 의 결과를 print로 출력해봅시다.

In [169]:
(3 and 5) , (3 and 0), (0 and 3), (0 and 0)

(5, 0, 0, 0)

In [ ]:
# or의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
# (3 or 5) , (3 or 0), (0 or 3), (0 or 0) 의 결과를 print로 출력해봅시다.

In [170]:
(3 or 5) , (3 or 0), (0 or 3), (0 or 0)

(3, 3, 3, 0)

## 복합 연산자

복합 연산자는 연산과 대입이 함께 이뤄집니다. 

가장 많이 활용되는 경우는 반복문을 통해서 갯수를 카운트하거나 할 때 활용됩니다.

|연산자|내용|
|----|---|
|a += b|a = a + b|
|a -= b|a = a - b|
|a \*= b|a = a \* b|
|a /= b|a = a / b|
|a //= b|a = a // b|
|a %= b|a = a % b|
|a \*\*= b|a = a ** b|

In [171]:
x, y = 10, 20

# x = x + y
# y = x - y
# x = x - y

x += y
y = x - y
x -= y

x, y

(20, 10)

In [174]:
x = 10
x += 1
x

11

## 기타 주요 연산자

### Concatenation

숫자가 아닌 자료형은 `+` 연산자를 통해 합칠 수 있습니다.

In [ ]:
# 문자열을 더해봅시다.(합쳐봅시다.)
# 아무 문자 2개를 + 를 이용하여 합쳐봅시다.

In [175]:
'py' + 'thon'

'python'

In [ ]:
# list 등 다른 데이터타입(컨테이너)에서도 활용 가능합니다.
# 두 list [1, 2, 3] 과 [4, 5, 6] 을 + 를 이용하여 합쳐봅시다.

In [176]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### Containment Test

`in` 연산자를 통해 요소가 속해있는지 여부를 확인할 수 있습니다.

In [ ]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
# 문자열 'a' 가 'apple' 에 속해있는지 확인해봅시다.

In [177]:
'a' in 'apple'

True

In [ ]:
# list 등 다른 데이터타입(컨테이너)에서도 활용 가능합니다.
# 정수 1이 list [1, 2, 3]에 속해있는지 확인해봅시다.

In [178]:
1 in [1, 2, 3]

True

In [ ]:
# 'a' and 'b' 의 결과값이 vowels에 포함이 되었는지 확인해봅시다.

In [186]:
vowels = 'aeiou'

('a' and 'b') in vowels  # 'b' in vowels

False

In [182]:
# 'b' and 'a' 의 결과값이 vowels에 포함이 되었는지 확인해봅시다.

In [185]:
('b' and 'a') in vowels  # 'a' in vowels

True

### Identity

`is` 연산자를 통해 동일한 object인지 확인할 수 있습니다. (OOP 파트에서 다시 학습하게 됩니다.)

In [ ]:
# 파이썬에서 -5 부터 256 까지의 id는 동일합니다.
# 변수 a에는 3을 변수 b에는 3을 할당해봅시다.
# 그리고 a 와 b 가 동일한 object인지 확인해봅시다.

In [191]:
a = 1234
b = 1234

a == b

True

In [192]:
# 257 이후의 id 는 다릅니다.
# 변수 a에는 257을 변수 b에는 257을 할당해봅시다.
# 그리고 a 와 b 가 동일한 object인지 확인해봅시다.

In [193]:
a is b

False

### Indexing/Slicing
`[]`를 통한 값을 접근하고, `[:]`을 통해 슬라이싱할 수 있습니다. (Container 파트에서 자세하게 학습합니다.)

In [ ]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
# 문자열 'hi'의 첫번째 값을 인덱싱으로 확인해봅시다.

In [199]:
'python'[0]

'p'

## 연산자 우선순위

0. `()`을 통한 grouping

1. Slicing

2. Indexing

3. 제곱연산자
    `**`

4. 단항연산자 
    `+`, `-` (음수/양수 부호)

5. 산술연산자
    `*`, `/`, `%`
    
6. 산술연산자
    `+`, `-`
 
7. 비교연산자, `in`, `is`

8. `not`

9. `and` 

10. `or`

[파이썬 문서](https://docs.python.org/ko/3/reference/expressions.html#operator-precedence)

In [ ]:
# 우선순위를 확인해봅시다.

In [ ]:
# -3 ** 4의 값을 확인해봅시다.

In [202]:
-3 ** 4

-81

In [ ]:
# (-3) ** 4의 값을 확인해봅시다.

In [203]:
(-3) ** 4

81

In [205]:
a = -3
a ** 4

81